---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Studies.astro';
import Book from '../../public/icons/Book.astro';
import Projects from '../components/Projects.astro';
import CodeIcon from '../../public/icons/CodeIcon.astro';
import AboutMe from '../components/AboutMe.astro';
import ProfileCheck from '../../public/icons/ProfileCheck.astro';
---

<Layout title="Portfolio de Julian Alconcher. Estudiante de Ingenieria en Sistemas de Informacion">
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
		  <Hero>
		  </slot>
		</Hero>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
			  class="flex items-center mb-6 text-3xl font-semibold gap-x-3 dark:text-white"
			>
			  <CodeIcon class="size-7" />
			  Proyectos
			</h2>
			<Projects />
		  </SectionContainer>
		
		<div class="space-y-24">
		<SectionContainer id="estudios">
		  <h2
			class="flex items-center mt-20 text-3xl font-semibold gap-x-3 text-white dark:text-white"
		  >
			<Book class="text-white size-8" />
			Mis estudios
		  </h2>
		  <Experience />
		</SectionContainer>
	
		
	
		<SectionContainer id="sobre-mi">
		  <h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-8  dark:text-white"
		  >
			<ProfileCheck class="size-8" />
			Sobre mí
		  </h2>
		  <AboutMe />
		</SectionContainer>
	  </div>
	  </main>
</Layout>
