---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../../public/icons/LinkedIn.astro';
import Github from '../../public/icons/Github.astro';
import SocialPill from '../components/SocialPill.astro';
import Mail from '../../public/icons/Mail.astro';	
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
import Briefcase from '../../public/icons/Briefcase.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Portfolio de Julian Alconcher. Estudiante de Ingenieria en Sistemas de Informacion">
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
		  <Hero>
		  </slot>
		</Hero>
		</SectionContainer>
		
		<div class="space-y-24">
		<SectionContainer id="experiencia">
		  <h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
		  >
			<Briefcase class="size-8" />
			Experiencia laboral
		  </h2>
		  <Experience />
		</SectionContainer>
	
		<!-- <SectionContainer id="proyectos">
		  <h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
		  >
			<CodeIcon class="size-7" />
			Proyectos
		  </h2>
		  <Projects />
		</SectionContainer>
	
		<SectionContainer id="sobre-mi">
		  <h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
		  >
			<ProfileCheck class="size-8" />
			Sobre mí
		  </h2>
		  <AboutMe />
		</SectionContainer> -->
	  </div>
	  </main>
</Layout>
