---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../../public/icons/LinkedIn.astro';
import Github from '../../public/icons/Github.astro';
import SocialPill from '../components/SocialPill.astro';
import Mail from '../../public/icons/Mail.astro';	
---

<Layout title="Portfolio de Julian Alconcher. Estudiante de Ingenieria en Sistemas de Informacion">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hola, soy Julián 
				<a 
				href="https://www.linkedin.com/in/juli%C3%A1n-alconcher-3429a7304/" 
				class="flex justify-center items-center"
				target="_blank"
				rel="noopener"
				>
				
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-75 text-wrap">+0 años de experencia. Estudiante de 5to año de Ingenieria en sistemas de informacion - UNS.
				De Bahia Blanca, Argentina.
			</h2>
			<nav class="flex gap-x-2 mt-2">
				
					<SocialPill href="https://www.linkedin.com/in/juli%C3%A1n-alconcher-3429a7304/" >
						<LinkedIn/>
						LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/JulianAlconcher" >
						<Github/>
						GitHub
					</SocialPill>
					<SocialPill href="https://github.com/JulianAlconcher" >
						<Mail/>
						alconcherjulian@gmail.com
					</SocialPill>
				
				</nav>
		</section>
	</main>
</Layout>
