---
 const personalImageAlt = "Julian Alconcher"
---

<article class="flex flex-col items-center justify-center gap-8  dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
     Mi nombre es Julian Alconcher, soy un estudiante de Ingeniería en Sistemas de Información en la Universidad Nacional del Sur. Me apasiona el desarrollo web y la creación de contenido educativo.
    </p>

    <p>
      Actualmente me encuentro cursando el último año de la carrera y trabajando en mi tesis de grado. Mi objetivo es seguir aprendiendo y creciendo en el mundo de la tecnología.
    </p>

    <p>
      Como estudiante, me gusta compartir mis conocimientos y experiencias con otros. Por eso, decidí crear este blog, donde comparto tutoriales, tips y recursos para estudiantes de programación.
    </p>
  </div>

  <img width="200" height="200" src="me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>