---
import ExperienceItem from "./StudiesItem.astro"

const EXPERIENCIE = [
  {
    date: "2019 - Actualmente...",
    title: "Ingenieria en sistemas de información",
    company: "Universidad Nacional del Sur",
    description:"Estudiante de 5to año de la carrera de Ingenieria en sistemas de información en la Universidad Nacional del Sur.",
    link: "https://www.uns.edu.ar/ingreso/carreras/carrera-detalle%7Ccarrera=181",
  },
  {
    date: "2013 - 2018",
    title: "Bachiller en Economía",
    company: "Colegio Claret",
    description:
      " Estudie en el Colegio Claret, donde me especialice en economía.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>